.heading {
    text-align: center;
    background-color: rgb(23, 23, 53);
    color: white;
    padding: 10px;
    font-family: "Krub";
}

.coheading {
    text-align: center;
    font-family: "Krub"
}

.mainheading {
    text-align: center;
    font-family: "Krub";
    letter-spacing: 1px;
    margin-bottom: 40px;
}

legend {
    font-size: 30px;
}

p {
    font-family: "krub";
}

hr.top {
    border: 1px solid rgb(23, 23, 53);
}

label {
    font-family: "Krub";
    font-size: 20px;
}

input, select {
    font-size: 25px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;

}

select {
    width: 79%;
}

.zip {
    width: 50%;
}

textarea {
    font-size: 30px;
    margin-top: 10px;
}



.button {
    background-color: rgb(59, 163, 170);
    color: white;
    padding: 10px 100px;
    margin-top: 10px;
    margin-left: 15px
}

input::placeholder {
    font-size: 20px;
    position: relative;
    right: -170px;
}

.head {
    position: relative;
    top: -5px;
}

footer {
    text-align: center;
}

fieldset {
    border: 0;

}

input:focus {
    background-color: lightgrey;
}

@media (min-width: 768px) {

    .heading {
        text-align: center;
    }

    form {
        width: 80%;
        margin: auto;
        
    }
    .form1 .zip {
        width: 25%;
    }

    hr.top {
        border: 1px solid rgb(23, 23, 53);
        width: 80%;
    }

   

    .form1 {
        display: flex;
        flex-direction: row;
        text-align: center;

    }
    
    .form1 label {
        flex: none;
        display: block;
        width: 125px;
        font-weight: bold;
        font-size: 1em;
        margin-top: 20px;
        padding-right: 50px;
    }

    input::placeholder {
        font-size: 20px;
        position: relative;
        right:  -300px;
    }

    .button {
        width: 98%;
    }

    .form1 input {
        width: 70%
    }
    
    textarea {
        width: 100%
    }

    
}

@media (min-width: 1025px) {
    .button {
        margin: auto;
    }

    input::placeholder {
        font-size: 20px;
        position: relative;
        right: -450px;
    }

    .form1 .zip {
        width: 25%;
    }
    
    select {
        width: 72%;
    }

}